/*
 * Sass generated CSS stylesheet for Weskmedical.com
 * By: Walter Beller-Morales;
 */
/* ==========================================================================
   Base styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 100%; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  background: #F3F1F7;
  color: #1E0B17;
  font-family: "Raleway", sans-serif; }

h2 {
  font-family: "Monda", sans-serif;
  font-weight: 700;
  font-size: 2rem; }

h3 {
  font-size: 1.6rem;
  font-family: "Monda", sans-serif; }

p {
  font-size: 1.5rem;
  line-height: 180%; }

a {
  color: #F3F1F7;
  text-decoration: none;
  -webkit-transition: color 0.4s ease, background 0.5s ease;
          transition: color 0.4s ease, background 0.5s ease; }
  a:hover {
    color: white; }

.wrapper {
  position: absolute;
  display: block;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px); }

.wrapper.open {
  -webkit-transform: translateY(195px);
      -ms-transform: translateY(195px);
          transform: translateY(195px); }

.block {
  clear: both;
  padding: 8% 10%; }
  .block h2 {
    color: #8A65DC; }

.clear-float {
  clear: both;
  margin: 3% 0; }

#nav-bar {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2% 3%; }
  #nav-bar a {
    color: #F3F1F7;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem; }
    #nav-bar a:hover {
      color: white;
      background: #aa8fe5; }

#hamburger {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
  top: 0;
  margin-top: 30px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
  cursor: pointer; }
  #hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #F3F1F7;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .30s ease-in-out;
            transition: .30s ease-in-out; }
    #hamburger span::nth-child(1) {
      top: 0px; }
    #hamburger span:nth-child(2) {
      top: 12px; }
    #hamburger span:nth-child(3) {
      top: 12px; }
    #hamburger span:nth-child(4) {
      top: 24px; }

#hamburger span:nth-child(1) {
  top: 0px; }

#hamburger.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%; }
#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
#hamburger.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%; }

#home-block {
  background: #8A65DC;
  height: 90vh;
  padding-top: 5vh;
  padding-right: 2%;
  padding-left: 2%;
  box-shadow: 0px 6px 3px 0px rgba(50, 50, 50, 0.2); }

#logo {
  display: block;
  max-width: 75vh;
  margin: 0 auto; }
  #logo .hexagon {
    stroke: #F3F1F7;
    stroke-width: 4;
    stroke-miterlimit: 10;
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 0;
    -webkit-animation: hex 1.3s linear forwards;
            animation: hex 1.3s linear forwards; }
@-webkit-keyframes hex {
  from {
    stroke-dashoffset: 700; }
  to {
    stroke-dashoffset: 0; } }
@keyframes hex {
  from {
    stroke-dashoffset: 700; }
  to {
    stroke-dashoffset: 0; } }
  #logo .circles {
    stroke: #F3F1F7;
    stroke-width: 3;
    stroke-miterlimit: 10;
    fill: none;
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
    -webkit-animation: circles 1.5s linear forwards;
            animation: circles 1.5s linear forwards; }
@-webkit-keyframes circles {
  from {
    stroke-dashoffset: 60; }
  to {
    stroke-dashoffset: 0; } }
@keyframes circles {
  from {
    stroke-dashoffset: 60; }
  to {
    stroke-dashoffset: 0; } }
  #logo .letters {
    stroke: #F3F1F7;
    stroke-width: 3;
    stroke-linecap: square;
    fill: none;
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    -webkit-animation: words 1.7s linear forwards;
            animation: words 1.7s linear forwards; }
@-webkit-keyframes words {
  from {
    stroke-dashoffset: 400; }
  to {
    stroke-dashoffset: 0; } }
@keyframes words {
  from {
    stroke-dashoffset: 400; }
  to {
    stroke-dashoffset: 0; } }
  #logo .small_letters {
    stroke: #F3F1F7;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    -webkit-animation: small_words 1.8s linear forwards;
            animation: small_words 1.8s linear forwards; }
@-webkit-keyframes small_words {
  from {
    stroke-dashoffset: 100; }
  to {
    stroke-dashoffset: 0; } }
@keyframes small_words {
  from {
    stroke-dashoffset: 100; }
  to {
    stroke-dashoffset: 0; } }
.arrow-down {
  width: 0;
  height: 0;
  position: relative;
  z-index: 1;
  top: -1px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #8A65DC;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 6px 3px rgba(50, 50, 50, 0.2));
          filter: drop-shadow(0px 6px 3px rgba(50, 50, 50, 0.2)); }

#about {
  width: 60%;
  margin: 0 auto; }

#projects {
  background: #8A65DC;
  color: #F3F1F7;
  box-shadow: 0px 6px 3px 0px rgba(50, 50, 50, 0.2); }
  #projects h2 {
    color: #F3F1F7; }

.project {
  overflow: hidden; }
  .project #catheter, .project #catheter-tip {
    display: block;
    width: 50%; }
  .project #catheter {
    max-height: 90vh;
    float: right; }
  .project #catheter-tip {
    max-height: 50vh;
    float: left; }
  .project p {
    display: block;
    width: 40%;
    font-size: 1.2rem;
    padding: 3% 0 3% 1%;
    float: left; }
    .project p:last-of-type {
      float: right; }

#profiles {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  #profiles .profile {
    display: block;
    width: 40%;
    max-width: 185px;
    min-width: 120px;
    margin: 6% 1%; }
    #profiles .profile img {
      width: 100%;
      border: 1px solid #8A65DC;
      box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1); }
    #profiles .profile h3 {
      margin: 0;
      font-size: 1rem;
      padding: 2% 0 10% 0; }
    #profiles .profile p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.2rem; }

footer {
  background: #8A65DC;
  font-family: "Monda", sans-serif;
  color: #F3F1F7;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 200%;
  text-align: center;
  padding: 5% 0; }
  footer a {
    font-weight: 700;
    font-size: 1.8rem; }

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media (max-width: 850px) {
  html {
    font-size: 70%; }

  .block {
    padding: 10% 4%; }

  #nav-bar {
    position: absolute;
    z-index: 2;
    -webkit-transform: translateY(-225px);
        -ms-transform: translateY(-225px);
            transform: translateY(-225px);
    -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    background: #5329b2;
    width: 100%;
    box-shadow: 0px 6px 3px 0px rgba(50, 50, 50, 0.3); }
    #nav-bar a {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 1.5rem;
      border-bottom: 1px solid #401f89;
      border-radius: 0; }
      #nav-bar a:last-of-type {
        border-bottom: 1px solid #5329b2; }
      #nav-bar a:hover {
        background: none; }

  #nav-bar.open {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px); }

  #hamburger {
    display: block; }

  #about {
    width: 80%;
    margin: 0 auto; }

  .project #catheter, .project #catheter-tip {
    float: none;
    width: 80%;
    margin: 0 auto; }
  .project #catheter {
    max-height: 75vh; }
  .project #catheter-tip {
    max-height: 40vh; }
  .project p {
    float: none;
    width: 100%; }

  footer {
    font-size: 1rem; }
    footer a {
      font-size: 2rem; } }
@media (max-width: 500px) {
  #home-block {
    height: 75vh;
    padding-top: 8vh; } }
