
/*
 * Sass generated CSS stylesheet for Weskmedical.com
 * By: Walter Beller-Morales;
 */

/* ==========================================================================
   Base styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 100%;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

$purple: #8A65DC;
$black: #1E0B17;
$white: #F3F1F7;

$header-font:'Monda', sans-serif;
$base-font:'Raleway', sans-serif;

body{
    background: $white;
    color: $black;
    font-family: $base-font;
}

h2{
    font-family: $header-font;
    font-weight: 700;
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
    font-family: $header-font;
}
p{
    font-size: 1.5rem;
    line-height: 180%;
}
a{
    color: $white;
    text-decoration: none;
    transition: color 0.4s ease, background 0.5s ease;
    &:hover{
        color: white;
    }
}

.wrapper{
    position: absolute;
    display: block;
    transition: all 0.4s ease;
    transform: translateY(0px);
}
.wrapper.open{
    transform: translateY(195px);
}

.block{
    clear: both;
    padding: 8% 10%;
    h2{
        color: $purple;
    }
}

.clear-float{
    clear: both;
    margin: 3% 0;
}

#nav-bar{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    margin: 2% 3%;

    a{
        color: $white;
        text-decoration: none;
        display: inline-block;
        padding: 1rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;

        &:hover{
            color: white;
            background: lighten($purple, 10%);
        }
    }
}

#hamburger {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5%;
    top: 0;
    margin-top: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .30s ease-in-out;
        &::nth-child(1) {
            top: 0px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            top: 12px;
        }
        &:nth-child(4){
            top: 24px; 
        }
    }
}
#hamburger span:nth-child(1){
  top: 0px;
}

#hamburger.open{
    span:nth-child(1){
        top: 12px;
        width: 0%;
        left: 50%;
    }
    span:nth-child(2){
        transform: rotate(45deg);
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
    }
    span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
    }
}

#home-block{
    background: $purple;
    height: 90vh;
    padding-top: 5vh;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow:  0px 6px 3px 0px rgba(50, 50, 50, 0.2);
}

#logo{
    display: block;
    max-width: 75vh;
    margin: 0 auto;

    .hexagon{
        stroke:   $white;
        stroke-width:   4;
        stroke-miterlimit:    10;
        fill:    none;
        stroke-dasharray: 700;
        stroke-dashoffset: 0;
        animation: hex 1.3s linear forwards;

    }
    @keyframes hex{
        from{stroke-dashoffset: 700;}
        to{stroke-dashoffset: 0;}
    }
    .circles{
        stroke:   $white;
        stroke-width:   3;
        stroke-miterlimit:    10;
        fill:    none;
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
        animation: circles 1.5s linear forwards;
    }
    @keyframes circles{
        from{stroke-dashoffset: 60;}
        to{stroke-dashoffset: 0;}
    }
    .letters{
        stroke:   $white;
        stroke-width:   3;
        stroke-linecap:   square;
        fill:    none;
        stroke-dasharray: 400;
        stroke-dashoffset: 0;
        animation: words 1.7s linear forwards;
    }
    @keyframes words{
        from{stroke-dashoffset: 400;}
        to{stroke-dashoffset: 0;}
    }
    .small_letters{
        stroke:   $white;
        stroke-width:   2;
        stroke-miterlimit:    10;
        fill:    none;
        stroke-dasharray: 100;
        stroke-dashoffset: 0;
        animation: small_words 1.8s linear forwards;
    }
    @keyframes small_words{
        from{stroke-dashoffset: 100;}
        to{stroke-dashoffset: 0;}
    }
}
.arrow-down {
    width: 0; 
    height: 0;
    position: relative;
    z-index: 1; 
    top: -1px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $purple;
    margin: 0 auto;
    filter: drop-shadow(0px 6px 3px rgba(50, 50, 50, 0.2));

}
#about{
    width: 60%;
    margin: 0 auto;
}
#projects{
    background: $purple;
    h2{
        color: $white;
    }
    color: $white;
    box-shadow:  0px 6px 3px 0px rgba(50, 50, 50, 0.2);

}
.project{
    overflow: hidden;
    #catheter,#catheter-tip{
        display: block;
        width: 50%;
    }
    #catheter{
        max-height: 90vh;
        float: right;
    }
    #catheter-tip{
        max-height: 50vh;
        float: left;
    }
    p{
        display: block;
        width: 40%;
        font-size: 1.2rem;
        padding: 3% 0 3% 1%;
        float: left;

        &:last-of-type{
            float: right;
        }
    }

}

#profiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    .profile{
        display: block;
        width: 40%;
        max-width: 185px;
        min-width: 120px;
        margin: 6% 1%;

        img{
            width:100%;
            border: 1px solid $purple;
            box-shadow:  0px 3px 3px 0px rgba(50, 50, 50, 0.1);

        }
        h3{
            margin: 0;
            font-size: 1rem;
            padding: 2% 0 10% 0;
        }
        p{
            margin: 0;
            font-size: 1rem;
            line-height: 1.2rem;
        }
    }
}

footer{
    background: $purple;
    font-family: $header-font;
    color: $white;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 200%;
    text-align: center;
    padding: 5% 0;
    a{
        font-weight: 700;
        font-size: 1.8rem;
    }
}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media (max-width: 850px) {
    html{
        font-size: 70%;
    }
    .block{
        padding: 10% 4%;
    }
    #nav-bar{
        position: absolute;
        z-index: 2;
        transform: translateY(-225px);
        transition: all 0.4s ease;
        flex-direction: column;
        margin: 0;
        background: darken($purple, 20%);
        width: 100%;
        box-shadow:  0px 6px 3px 0px rgba(50, 50, 50, 0.3);

        a{
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 1.5rem;
            border-bottom: 1px solid darken($purple, 30%);
            border-radius: 0;

            &:last-of-type{
                border-bottom: 1px solid darken($purple, 20%);
            }

            &:hover{
                background: none;
            }
        }
        
    }
    #nav-bar.open{
        transform: translateY(0px);

    }
    #hamburger {
        display: block;
    }
    #about{
        width: 80%;
        margin: 0 auto;
    }
    .project{
        #catheter, #catheter-tip{
            float: none;
            width: 80%;
            margin: 0 auto;
        }
        #catheter{
            max-height: 75vh;
        }
        #catheter-tip{
            max-height: 40vh;
        }
        p{
            float: none;
            width: 100%;
        }
    }
    footer{
        font-size: 1rem;
        a{
            font-size: 2rem;
        }
    }
}
@media (max-width: 500px){
    #home-block{
        height: 75vh;
        padding-top: 8vh;
    }
}
